/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar container */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 40px;
  background-color: gradient(180deg, #505050, #101010);
}

/* Logo */
.logo {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

/* Nav links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

/* Hover effect */
.nav-links a:hover {
  color: gray;
  size-adjust: 50px;
}
